header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 20px;

  h1 {
    max-width: 800px;
    margin: 0 auto;
  }

  a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    color: #666;
    text-decoration: underline;
  }
}
